.contact-section {
    padding: 100px 0;
    background-color: #f9f9f9;
  }

  .contact-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  .contact-section .form-control {
    margin-bottom: 20px;
  }

  .contact-section .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
      /* Additional Styling */
      body {
        font-family: Arial, sans-serif;
      }
  
      .navbar {
        background-color: #007bff;
        border-bottom: 4px solid #ffcc00;
      }
  
      .navbar-nav .nav-link {
        color: white !important;
      }
  
      .navbar-brand {
        color: white !important;
        font-weight: bold;
      }
  
      .nav-link:hover {
        color: #ffcc00 !important;
      }
     .web{
        color: #ffcc00;
     } 
     .back-to-home {
        text-align: center;
        margin-top: 50px;
      }